<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>
  <div class="container">

    <aside class="sidebar">

      <img src="{{ site.logo | relative_url }}"
           alt="Foto de {{ site.title }}"
           class="profile-pic">

      <h1>{{ site.title }}</h1>

      <p class="academic">
        🎓 {{ site.university }}<br>
        📊 {{ site.gpa }}<br>
        📘 {{ site.degree }}<br>
        <span class="focus">{{ site.focus }}</span>
      </p>

      <div class="contact-info">
        
        <a href="mailto:lucassilvacabral7@gmail.com" class="contact-item">
          <i class="fa-solid fa-envelope"></i>
          <span>lucassilvacabral7@gmail.com</span>
        </a>

        <a href="https://wa.me/qr/OU4GZC5BM5USN1" target="_blank" class="contact-item">
          <i class="fa-brands fa-whatsapp"></i>
          <span>(81)9.8930-7932 </span>
        </a>

      </div>

      <div class="social-icons">
        <a href="https://github.com/LucasCabra7" target="_blank" aria-label="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/lucas-cabral-987a75236/" target="_blank" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://www.notion.so/Sistemas-de-Informa-o-4-Per-odo-201c8a2b73e380098f27f7e751e2ab1e?source=copy_link"
           target="_blank" aria-label="Notion">
           <i class="fa-solid fa-book"></i>
        </a>

        <a href="#" onclick="openModal(event)" aria-label="Minhas Conquistas">
          <i class="fa-solid fa-trophy"></i>
        </a>
      </div>

    </aside>

    <main class="content">
      {{ content }}
    </main>

  </div>

  <div id="achievementsModal" class="modal-overlay">
    <div class="modal-content">
      <span class="close-btn" onclick="closeModal()">&times;</span>
      
      <h2>🏆 Minhas Conquistas & Certificados</h2>
      
      <div class="gallery-grid">

        <div class="gallery-item">
          <img src="assets/bora-impactar.jpeg" alt="Bora Impactar">
          <div class="gallery-caption">
            <strong>Bora Impactar - Prefeitura do Recife</strong>
            <span>Apresentação do Bora Impactar</span>
          </div>
        </div>

        <div class="gallery-item">
          <img src="assets/showcase.png" alt="Apresentação Showcase">
          <div class="gallery-caption">
            <strong>1° Lugar de Apresentação Showcase </strong>
            <span>Prefeitura do Recife</span>
          </div>
        </div>

        <div class="gallery-item">
          <img src="assets/mencao-honrosa.png" alt="Menção Honrosa">
          <div class="gallery-caption">
            <strong>Menção Honrosa - Prefeitura do Recife</strong>
            <span>Melhor Pitch do Evento</span>
          </div>
        </div>

        <div class="gallery-item">
          <img src="assets/participacao-lucas.png" alt="Apresentação Lucas">
          <div class="gallery-caption">
            <strong>Participação do Bora Impactar</strong>
            <span>Participação honrosa</span>
          </div>
        </div>

         <div class="gallery-item">
          <img src="assets/cinova.jpg" alt="Projeto Cinova">
          <div class="gallery-caption">
            <strong>Apresentação do CINOVA</strong>
            <span>Sistema de Gerenciamento e Manutenção Predial</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script>
    // Função para abrir o modal
    function openModal(e) {
      e.preventDefault();
      document.getElementById('achievementsModal').style.display = 'flex';
    }

    // Função para fechar o modal
    function closeModal() {
      document.getElementById('achievementsModal').style.display = 'none';
    }

    // Fecha o modal se clicar fora da caixa branca
    window.onclick = function(event) {
      var modal = document.getElementById('achievementsModal');
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</body>
</html>
